In [1]:
# ---------------------------------------- File 1_LAC_ODIN ---------------------------------------- #
# This is the first step of creating the NSMI for the Netherlands. 
# This script will deal with the ODiN datasetsfor 2018-2022.
# This script perform the data loading, cleaning and descriptive statistics analysis. 

# Importing the libraries for this script
import pandas as pd
import os
import numpy as np
from IPython.display import display
import pyreadstat
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
# ---------------------------------------------- PART 1 ---------------------------------------------- #	
# This first part of the script will locate the ODiN datasets and will perform the data cleaning and preparation.

In [3]:
# The ODiN datasets are retrieved via institutional access of the Eindhoven University of Technology.
# The paths below indicate the local paths of the datasets on the PC of the user. The user needs to download the excel files of ODiN and replace the paths with the paths on their own PC.
# Look at the BPMN model for the required in put files. Firstly perform the data gathering process before performing the data preparation process. 
# If all input files are in an INPUT folder, the user can easily acces this folder for the input files.


# Locating the ODIN datasets and giving easy names
# The input files are in the INPUT folder
ODIN_2018_location = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\Master - Jaar 1, 2 & 3\year 3\INPUT\ODIN\ODiN2018.csv'
ODIN_2019_location = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\Master - Jaar 1, 2 & 3\year 3\INPUT\ODIN\ODiN2019.csv'
ODIN_2020_location = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\Master - Jaar 1, 2 & 3\year 3\INPUT\ODIN\\ODiN2020.csv'
ODIN_2021_location = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\Master - Jaar 1, 2 & 3\year 3\INPUT\ODIN\ODiN2021.csv'
ODIN_2022_location = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\Master - Jaar 1, 2 & 3\year 3\INPUT\ODIN\ODiN2022.csv'

# Reading the ODIN datasets
# The excel files are semicolon separated and have an ISO-8859-1 encoding. This needs to be specified because this is not the standard decoding method.
ODIN_2018 = pd.read_csv(ODIN_2018_location, encoding='ISO-8859-1', sep=';')
ODIN_2019 = pd.read_csv(ODIN_2019_location, encoding='ISO-8859-1', sep=';')
ODIN_2020 = pd.read_csv(ODIN_2020_location, encoding='ISO-8859-1', sep=';')
ODIN_2021 = pd.read_csv(ODIN_2021_location, encoding='ISO-8859-1', sep=';')
ODIN_2022 = pd.read_csv(ODIN_2022_location, encoding='ISO-8859-1', sep=';')

In [4]:
# To check if the datasets are read correctly, the first 5 rows of each dataset are displayed.
# This is done because the atuomatic reading of .csv files is not done via the 'ISO-8859-1'-encding, but via the 'utf-8'-encoding.
# Furthermore, the ODiN-files use a semi-colon as a separator, instead of a comma.
display(ODIN_2018.head(5))
display(ODIN_2019.head(5))
display(ODIN_2020.head(5))
display(ODIN_2021.head(5))
display(ODIN_2022.head(5))

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,55834100093,1,1,1,1,1,0,0,0,...,15,0,0.0,0.0,13,0,0,347,347,126759
1,0,55834100093,1,1,1,1,1,0,0,0,...,10,0,0.0,0.0,13,0,0,347,347,126759
2,0,55834100093,1,1,1,1,1,0,0,0,...,5,0,0.0,0.0,13,0,0,347,347,126759
3,0,55834100093,1,1,1,1,1,0,0,0,...,5,0,0.0,0.0,13,0,0,347,347,126759
4,1,55834100279,1,1,2,2,3,0,0,0,...,10,0,0.0,0.0,13,0,0,142,284,103762

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,56144136518,1,1,4,3,3,1,1,0,...,10,0,0.0,0.0,13,0,0,125,375,136758
1,0,56144136518,1,1,4,3,3,1,1,0,...,10,0,0.0,0.0,13,0,0,125,375,136758
2,1,56144148453,1,1,4,3,4,0,1,1,...,13,0,0.0,0.0,13,0,0,64,255,93110
3,0,56144148453,1,1,4,3,4,0,1,1,...,13,0,0.0,0.0,13,0,0,64,255,93110
4,0,56144148453,1,1,4,3,4,0,1,1,...,15,0,0.0,0.0,13,0,0,64,255,93110

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,59244112245,1,1,5,3,3,0,2,1,...,3,0,0.0,0.0,13,0,0,58,292,106827
1,0,59244112245,1,1,5,3,3,0,2,1,...,3,0,0.0,0.0,13,0,0,58,292,106827
2,0,59244112245,1,1,5,3,3,0,2,1,...,3,0,0.0,0.0,13,0,0,58,292,106827
3,0,59244112245,1,1,5,3,3,0,2,1,...,15,0,0.0,0.0,13,0,0,58,292,106827
4,0,59244112245,1,1,5,3,3,0,2,1,...,19,0,0.0,0.0,13,0,0,58,292,106827

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,62344107254,1,1,3,3,3,1,0,0,...,15,0,0.0,0.0,13,0,0,94,188,68606
1,0,62344107254,1,1,3,3,3,1,0,0,...,15,0,0.0,0.0,13,0,0,94,188,68606
2,1,62344112710,1,1,2,2,3,0,0,0,...,9,0,0.0,0.0,13,0,0,90,181,66023
3,0,62344112710,1,1,2,2,3,0,0,0,...,10,0,0.0,0.0,13,0,0,90,181,66023
4,0,62344112710,1,1,2,2,3,0,0,0,...,15,0,0.0,0.0,13,0,0,90,181,66023

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,300000269880,8,1,1,1,1,0,0,0,...,#NULL!,#NULL!,NaN,NaN,#NULL!,#NULL!,#NULL!,148,148,54076
1,1,300000882980,1,1,2,2,3,0,0,0,...,5,0,0.0,0.0,13,0,0,176,353,128711
2,0,300000882980,1,1,2,2,3,0,0,0,...,15,0,0.0,0.0,13,0,0,176,353,128711
3,0,300000882980,1,1,2,2,3,0,0,0,...,114,0,0.0,0.0,13,6,0,176,353,128711
4,1,300000883980,1,1,3,3,3,0,0,0,...,45,0,0.0,0.0,13,0,0,140,421,153774

In [5]:
# If the datasets of ODiN are used for the years 2018-2022, then the variables that will be used for the development of the NSMI need to be the same for all years. 
# This piece of code provides the names of columns that are present in all datasets. 

# Defining the ODiN datasets for the years 2018-2022
datasets = [ODIN_2018, ODIN_2019, ODIN_2020, ODIN_2021, ODIN_2022]  

# Extract columns from each DataFrame in the datasets.
columns_sets = [set(df.columns) for df in datasets]

# Finding the common columns.
common_columns = list(set.intersection(*columns_sets))

# Printing the output.
print(common_columns)

['KGewichtPa1', 'MaatsPart', 'OPRijbewijsAu', 'Doel', 'AutoDOrg', 'FactorP', 'TenaamPa2', 'AutoDPart', 'ByzDuur', 'SEindUur', 'KHvm', 'KBouwjaarPa2', 'RedenNWZ', 'AankMin', 'SPlaats3', 'AfstandSOP', 'HHBrom', 'OnbBez', 'AutoLPl', 'VertGem', 'HHMotor', 'HHBestInkG', 'RCorrSnelh', 'SBegMin', 'KLeeft', 'BrandstofEPa1', 'AankMRA', 'VertUur', 'RAankStat', 'FqAutoP', 'SBegUur', 'HHPlOP', 'KGewichtPaL', 'ReisduurOP', 'AfstandOP', 'SVvm1', 'RVertStat', 'FqBrSnor', 'RedenNWW', 'ByzAdr', 'AfstS', 'OP', 'KBouwjaarPa1', 'RedenNWB', 'HHAutoL', 'HHLft1', 'XBrandstofPa2', 'Sted', 'AutoEig', 'ActDuur', 'TenaamPa1', 'AankCorop', 'RedenNW', 'Herkomst', 'Prov', 'HHPers', 'OPRijbewijsBr', 'BrandstofPa1', 'VertPCBL', 'AankGem', 'XBrandstofPaL', 'AfstV', 'AfstSBL', 'OPAuto', 'BetWerk', 'RVliegVer', 'FqAutoB', 'XBrandstofPa1', 'OPID', 'SDezPlts', 'Jaar', 'RvmRol', 'Weggeweest', 'RReisduur', 'RTSamen', 'AantSVpl', 'OVStKaart', 'AutoHhL', 'Steekproef', 'Rvm', 'AardWerk', 'AankGeb', 'MotiefV', 'ByzReden', 'Geslacht', 'FactorV', 'RAantIn', 'HHLft2', 'EFiets', 'AutoBed', 'SVvm2', 'RAankUur', 'Week', 'HHSam', 'KGewichtPa2', 'Leeftijd', 'Dag', 'HHLaagInk', 'BrandstofEPa2', 'FqTrein', 'HHGestInkG', 'AantVpl', 'HvmRol', 'KBouwjaarPaL', 'HHEFiets', 'HHLft3', 'FactorH', 'MRA', 'FqBTM', 'Mode', 'BouwjaarPaL', 'AutoLWg', 'VertMRA', 'KMotiefV', 'RVertMin', 'BrandstofPaL', 'VertPC', 'AankPC', 'SPlaats4', 'WoPC', 'OPBezitVm', 'ByzRoute', 'VertProv', 'VertMin', 'Reisduur', 'RitID', 'GemGr', 'SAantAdr', 'BrandstofPa2', 'FqNEFiets', 'KAfstR', 'Kind6', 'AantOVVpl', 'HHAuto', 'AankUur', 'VertLoc', 'WoGem', 'OPSnor', 'VertGeb', 'AfstRBL', 'HHRijbewijsAu', 'HHBezitVm', 'Corop', 'AutoHuur', 'Feestdag', 'ByzTyd', 'HHRijbewijsBr', 'BouwjaarPa1', 'VertCorop', 'AankProv', 'PCBLG', 'SEindMin', 'HHSnor', 'Opleiding', 'BuurtAdam', 'MeerWink', 'SPlaats5', 'AutoAnd', 'VerplNr', 'GemG', 'OPBrom', 'KReisduur', 'HHLft4', 'AutoDBek', 'ByzVvm', 'AankPCBL', 'VolgWerk', 'HHWelvG', 'SVvm4', 'AfstR', 'PCG', 'OPMotor', 'HHRijbewijsMo', 'RitNr', 'RVertUur', 'Rit', 'AutoLeen', 'RReisduurBL', 'KAfstV', 'Hvm', 'RAankMin', 'Weekdag', 'ByzDag', 'VerplID', 'SPlaats2', 'SVvm3', 'CorrVerpl', 'GehBLVer', 'KRvm', 'Maand', 'BouwjaarPa2', 'KVertTijd', 'SPlaats1', 'HHSocInk', 'FqEFiets', 'BrandstofEPaL', 'AantRit', 'Verpl', 'OPRijbewijsMo', 'Toer']

In [6]:
# This piece of code defines which mutual coumns are present in all ODIN datasets, only keeps the mutual columns and reorders the columns to match the original ODIN 2018 dataset. 
# New files are saved with the modified name as an intermediate result.

# Defining the orginal dataset names of the pandas DataFrames
dataset_names = ['ODIN_2018', 'ODIN_2019', 'ODIN_2020', 'ODIN_2021', 'ODIN_2022']

# The order of the new datasets needs to be as similar as possible to the ODIN 2018 dataset.
# Get the column order of the original ODIN_2018 dataset. 'datasets' refers to the previous code cell. 
column_order = datasets[0].columns.tolist()

# Filter the column_order list to only include the common columns.
column_order = [col for col in column_order if col in common_columns]

for original_file, original_name in zip(datasets, dataset_names):
    # Select only the common columns.
    new_file_only_same_columns = original_file[common_columns]

    # Reorder the columns to match the original ODIN_2018 dataset.
    new_file_only_same_columns = new_file_only_same_columns.reindex(columns=column_order)

    # Save the new DataFrame to an Excel file with the modified name. The new file will be saved in the directory which is used in GitHub.
    # The new file will be saved in the 'intermediate' directory in the current GitHub repository. This directory is meant for large intermediate files so that GitHub does not mallfunction while uploading the files.
    # If the user wants to save the file in a different directory, the user needs to change the path.
    new_file_only_same_columns.to_csv(f'intermediate/{original_name}_samecolumns.csv', index=False, encoding='ISO-8859-1', sep=';')

In [7]:
# To check if the changes are done correctly, the new .csv files are located and opened.
# The paths below indicate the local paths of the datasets on the PC of the user. The user needs to replace the paths with the paths on their own PC.
# Locating the ODIN datasets and giving easy names
ODIN_2018_location_same_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2018_samecolumns.csv'
ODIN_2019_location_same_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2019_samecolumns.csv'
ODIN_2020_location_same_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2020_samecolumns.csv'
ODIN_2021_location_same_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2021_samecolumns.csv'
ODIN_2022_location_same_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2022_samecolumns.csv'

# Reading the chanted ODIN datasets which contain only the same columns. 
ODIN_2018_same_columns = pd.read_csv(ODIN_2018_location_same_columns, encoding='ISO-8859-1', sep=';')
ODIN_2019_same_columns = pd.read_csv(ODIN_2019_location_same_columns, encoding='ISO-8859-1', sep=';')
ODIN_2020_same_columns = pd.read_csv(ODIN_2020_location_same_columns, encoding='ISO-8859-1', sep=';')
ODIN_2021_same_columns = pd.read_csv(ODIN_2021_location_same_columns, encoding='ISO-8859-1', sep=';')
ODIN_2022_same_columns = pd.read_csv(ODIN_2022_location_same_columns, encoding='ISO-8859-1', sep=';')

# To check if the datasets are changed read correctly, the first 5 rows of each dataset are displayed.
display(ODIN_2018_same_columns.head(5))
display(ODIN_2019_same_columns.head(5))
display(ODIN_2020_same_columns.head(5))
display(ODIN_2021_same_columns.head(5))
display(ODIN_2022_same_columns.head(5))

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,55834100093,1,1,1,1,1,0,0,0,...,15,0,0.0,0.0,13,0,0,347,347,126759
1,0,55834100093,1,1,1,1,1,0,0,0,...,10,0,0.0,0.0,13,0,0,347,347,126759
2,0,55834100093,1,1,1,1,1,0,0,0,...,5,0,0.0,0.0,13,0,0,347,347,126759
3,0,55834100093,1,1,1,1,1,0,0,0,...,5,0,0.0,0.0,13,0,0,347,347,126759
4,1,55834100279,1,1,2,2,3,0,0,0,...,10,0,0.0,0.0,13,0,0,142,284,103762

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,56144136518,1,1,4,3,3,1,1,0,...,10,0,0.0,0.0,13,0,0,125,375,136758
1,0,56144136518,1,1,4,3,3,1,1,0,...,10,0,0.0,0.0,13,0,0,125,375,136758
2,1,56144148453,1,1,4,3,4,0,1,1,...,13,0,0.0,0.0,13,0,0,64,255,93110
3,0,56144148453,1,1,4,3,4,0,1,1,...,13,0,0.0,0.0,13,0,0,64,255,93110
4,0,56144148453,1,1,4,3,4,0,1,1,...,15,0,0.0,0.0,13,0,0,64,255,93110

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,59244112245,1,1,5,3,3,0,2,1,...,3,0,0.0,0.0,13,0,0,58,292,106827
1,0,59244112245,1,1,5,3,3,0,2,1,...,3,0,0.0,0.0,13,0,0,58,292,106827
2,0,59244112245,1,1,5,3,3,0,2,1,...,3,0,0.0,0.0,13,0,0,58,292,106827
3,0,59244112245,1,1,5,3,3,0,2,1,...,15,0,0.0,0.0,13,0,0,58,292,106827
4,0,59244112245,1,1,5,3,3,0,2,1,...,19,0,0.0,0.0,13,0,0,58,292,106827

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,62344107254,1,1,3,3,3,1,0,0,...,15,0,0.0,0.0,13,0,0,94,188,68606
1,0,62344107254,1,1,3,3,3,1,0,0,...,15,0,0.0,0.0,13,0,0,94,188,68606
2,1,62344112710,1,1,2,2,3,0,0,0,...,9,0,0.0,0.0,13,0,0,90,181,66023
3,0,62344112710,1,1,2,2,3,0,0,0,...,10,0,0.0,0.0,13,0,0,90,181,66023
4,0,62344112710,1,1,2,2,3,0,0,0,...,15,0,0.0,0.0,13,0,0,90,181,66023

,OP,OPID,Steekproef,Mode,HHPers,HHSam,HHPlOP,HHLft1,HHLft2,HHLft3,...,RReisduur,RReisduurBL,RVertStat,RAankStat,RTSamen,RCorrSnelh,RVliegVer,FactorH,FactorP,FactorV
0,1,300000269880,8,1,1,1,1,0,0,0,...,#NULL!,#NULL!,NaN,NaN,#NULL!,#NULL!,#NULL!,148,148,54076
1,1,300000882980,1,1,2,2,3,0,0,0,...,5,0,0.0,0.0,13,0,0,176,353,128711
2,0,300000882980,1,1,2,2,3,0,0,0,...,15,0,0.0,0.0,13,0,0,176,353,128711
3,0,300000882980,1,1,2,2,3,0,0,0,...,114,0,0.0,0.0,13,6,0,176,353,128711
4,1,300000883980,1,1,3,3,3,0,0,0,...,45,0,0.0,0.0,13,0,0,140,421,153774

In [8]:
# This piece of code checks wether all the columns that are required for further research are actually present in all datasets.
# These columns are preffered to be present in all datasets, because they are deemed to be importrant to establish the synthethic population or the NSMI itself.

# Define the list of columns that need to be kept. This is based on the analysis of output that is generated by the output of the previous code cell.
columns_to_check = ['OP', 'OPID', 'HHSam', 'HHPlOP', 'VertPC', 'VertProv', 'Geslacht', 'Leeftijd', 'Herkomst', 'BetWerk', 'Opleiding', 'HHAuto', 'HHBestInkG', 'Jaar', 'Verpl', 'VerplID', 'VerplNr', 'MotiefV', 'AfstR', 'RReisduur', 'KRvm', 'RVertUur']

# Get the list of latest created datasets
latest_datasets = [f for f in os.listdir('intermediate') if f.endswith('_samecolumns.csv')]

for file in latest_datasets:
    # Load the dataset
    file_ending_SC = pd.read_csv(f'intermediate/{file}', encoding='ISO-8859-1', sep=';')

    # Find the columns that are not present in the DataFrame but are in the provided list
    missing_columns = [col for col in columns_to_check if col not in file_ending_SC.columns]

    # Print these columns
    print(f'Missing columns in {file}: {missing_columns}')
    
    # Because the columns to check are also the columns to keep, the new dataframes can be saved as new files. 
     # Select only the columns present in the `columns_to_check` list
    new_df = file_ending_SC[columns_to_check]

    # Save the new DataFrame to a CSV file in the 'files' directory with the modified name
    new_df.to_csv(f'intermediate/{file[:-4]}_cleanedcolumns.csv', index=False, encoding='ISO-8859-1', sep=';')

Missing columns in ODIN_2018_samecolumns.csv: []
Missing columns in ODIN_2019_samecolumns.csv: []
Missing columns in ODIN_2020_samecolumns.csv: []
Missing columns in ODIN_2021_samecolumns.csv: []
Missing columns in ODIN_2022_samecolumns.csv: []

In [9]:
# To check if the changes are done correctly, the new .csv files are located and opened.
# The paths below indicate the local paths of the datasets on the PC of the user. The user needs to replace the paths with the paths on their own PC.
# Locating the ODIN datasets and giving easy names
ODIN_2018_location_same_columns_cleaned_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2018_samecolumns_cleanedcolumns.csv'
ODIN_2019_location_same_columns_cleaned_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2019_samecolumns_cleanedcolumns.csv'
ODIN_2020_location_same_columns_cleaned_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2020_samecolumns_cleanedcolumns.csv'
ODIN_2021_location_same_columns_cleaned_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2021_samecolumns_cleanedcolumns.csv'
ODIN_2022_location_same_columns_cleaned_columns = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\ODIN_2022_samecolumns_cleanedcolumns.csv'

# Reading the chanted ODIN datasets which contain only the same columns. 
ODIN_2018_same_columns_cleaned_columns = pd.read_csv(ODIN_2018_location_same_columns_cleaned_columns, encoding='ISO-8859-1', sep=';')
ODIN_2019_same_columns_cleaned_columns = pd.read_csv(ODIN_2019_location_same_columns_cleaned_columns, encoding='ISO-8859-1', sep=';')
ODIN_2020_same_columns_cleaned_columns = pd.read_csv(ODIN_2020_location_same_columns_cleaned_columns, encoding='ISO-8859-1', sep=';')
ODIN_2021_same_columns_cleaned_columns = pd.read_csv(ODIN_2021_location_same_columns_cleaned_columns, encoding='ISO-8859-1', sep=';')
ODIN_2022_same_columns_cleaned_columns = pd.read_csv(ODIN_2022_location_same_columns_cleaned_columns, encoding='ISO-8859-1', sep=';')

# To check if the datasets are changed read correctly, the first 5 rows of each dataset are displayed.
display(ODIN_2018_same_columns_cleaned_columns.head(5))
display(ODIN_2019_same_columns_cleaned_columns.head(5))
display(ODIN_2020_same_columns_cleaned_columns.head(5))
display(ODIN_2021_same_columns_cleaned_columns.head(5))
display(ODIN_2022_same_columns_cleaned_columns.head(5))

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,55834100093,1,1,9901.0,1,1,42,1,3,...,8,2018,1,5583410009301,1,7,60,15,1,10
1,0,55834100093,1,1,9933.0,1,1,42,1,3,...,8,2018,1,5583410009302,2,7,60,10,1,11
2,0,55834100093,1,1,9901.0,1,1,42,1,3,...,8,2018,1,5583410009303,3,8,10,5,5,15
3,0,55834100093,1,1,9902.0,1,1,42,1,3,...,8,2018,1,5583410009304,4,8,10,5,5,18
4,1,55834100279,2,3,9902.0,1,1,42,1,0,...,3,2018,1,5583410027901,1,7,30,10,1,9

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,56144136518,3,3,8442.0,2,1,33,1,3,...,3,2019,1,5614413651801,1,8,25,10,1,8
1,0,56144136518,3,3,8443.0,2,1,33,1,3,...,3,2019,1,5614413651802,2,8,25,10,1,8
2,1,56144148453,3,4,9203.0,2,2,12,1,5,...,5,2019,1,5614414845301,1,10,30,13,5,10
3,0,56144148453,3,4,9203.0,2,2,12,1,5,...,5,2019,1,5614414845302,2,10,30,13,5,11
4,0,56144148453,3,4,9203.0,2,2,12,1,5,...,5,2019,1,5614414845303,3,7,30,15,5,13

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224501,1,13,40,3,7,9
1,0,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224502,2,13,40,3,7,10
2,0,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224503,3,13,40,3,7,10
3,0,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224504,4,4,100,15,1,11
4,0,59244112245,3,3,9163.0,2,1,43,1,3,...,9,2020,1,5924411224505,5,8,100,19,1,11

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,62344107254,3,3,1363.0,5,2,38,1,3,...,10,2021,1,6234410725401,1,8,75,15,2,16
1,0,62344107254,3,3,1319.0,5,2,38,1,3,...,10,2021,1,6234410725402,2,8,75,15,2,19
2,1,62344112710,2,3,8423.0,2,1,72,1,0,...,10,2021,1,6234411271001,1,1,30,9,5,7
3,0,62344112710,2,3,8423.0,2,1,72,1,0,...,10,2021,1,6234411271002,2,1,30,10,5,8
4,0,62344112710,2,3,8423.0,2,1,72,1,0,...,10,2021,1,6234411271003,3,1,30,15,5,9

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,300000269880,1,1,NaN,#NULL!,2,81,1,0,...,1,2022,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!,#NULL!
1,1,300000882980,2,3,9481.0,3,2,65,1,0,...,6,2022,1,30000088298001,1,5,10,5,5,10
2,0,300000882980,2,3,9481.0,3,2,65,1,0,...,6,2022,1,30000088298002,2,5,10,15,5,11
3,0,300000882980,2,3,9481.0,3,2,65,1,0,...,6,2022,1,30000088298003,3,11,120,114,5,14
4,1,300000883980,3,3,9761.0,3,1,63,1,3,...,9,2022,1,30000088398001,1,1,430,45,7,7

In [10]:
# Analyzing the rows of the ODiN datasets, it can be seen that there are multiple values of #NULL!, this is text and unsuitable for further analysis.
# Therefore, the #NULL! values need to be replaced by NaN values. This piece of code does that. 

# Replace #NULL! with NaN
ODIN_2018_replacemissingvalues = ODIN_2018_same_columns_cleaned_columns.replace('#NULL!', np.nan)
ODIN_2019_replacemissingvalues = ODIN_2019_same_columns_cleaned_columns.replace('#NULL!', np.nan)
ODIN_2020_replacemissingvalues = ODIN_2020_same_columns_cleaned_columns.replace('#NULL!', np.nan)
ODIN_2021_replacemissingvalues = ODIN_2021_same_columns_cleaned_columns.replace('#NULL!', np.nan)
ODIN_2022_replacemissingvalues = ODIN_2022_same_columns_cleaned_columns.replace('#NULL!', np.nan)

In [11]:
# To check if the datasets are changed read correctly, the first 5 rows of each dataset are displayed.
display(ODIN_2018_replacemissingvalues.head(5))
display(ODIN_2019_replacemissingvalues.head(5))
display(ODIN_2020_replacemissingvalues.head(5))
display(ODIN_2021_replacemissingvalues.head(5))
display(ODIN_2022_replacemissingvalues.head(5))


# Save the new DataFrame to an Excel file with the modified name
ODIN_2018_replacemissingvalues.to_csv(f'intermediate/1.ODIN_2018_not_translated.csv', index=False, encoding='ISO-8859-1', sep=';')
ODIN_2019_replacemissingvalues.to_csv(f'intermediate/1.ODIN_2019_not_translated.csv', index=False, encoding='ISO-8859-1', sep=';')
ODIN_2020_replacemissingvalues.to_csv(f'intermediate/1.ODIN_2020_not_translated.csv', index=False, encoding='ISO-8859-1', sep=';')
ODIN_2021_replacemissingvalues.to_csv(f'intermediate/1.ODIN_2021_not_translated.csv', index=False, encoding='ISO-8859-1', sep=';')
ODIN_2022_replacemissingvalues.to_csv(f'intermediate/1.ODIN_2022_not_translated.csv', index=False, encoding='ISO-8859-1', sep=';')

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,55834100093,1,1,9901.0,1,1,42,1,3,...,8,2018,1,5583410009301,1,7,60,15,1,10
1,0,55834100093,1,1,9933.0,1,1,42,1,3,...,8,2018,1,5583410009302,2,7,60,10,1,11
2,0,55834100093,1,1,9901.0,1,1,42,1,3,...,8,2018,1,5583410009303,3,8,10,5,5,15
3,0,55834100093,1,1,9902.0,1,1,42,1,3,...,8,2018,1,5583410009304,4,8,10,5,5,18
4,1,55834100279,2,3,9902.0,1,1,42,1,0,...,3,2018,1,5583410027901,1,7,30,10,1,9

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,56144136518,3,3,8442.0,2,1,33,1,3,...,3,2019,1,5614413651801,1,8,25,10,1,8
1,0,56144136518,3,3,8443.0,2,1,33,1,3,...,3,2019,1,5614413651802,2,8,25,10,1,8
2,1,56144148453,3,4,9203.0,2,2,12,1,5,...,5,2019,1,5614414845301,1,10,30,13,5,10
3,0,56144148453,3,4,9203.0,2,2,12,1,5,...,5,2019,1,5614414845302,2,10,30,13,5,11
4,0,56144148453,3,4,9203.0,2,2,12,1,5,...,5,2019,1,5614414845303,3,7,30,15,5,13

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224501,1,13,40,3,7,9
1,0,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224502,2,13,40,3,7,10
2,0,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224503,3,13,40,3,7,10
3,0,59244112245,3,3,9161.0,2,1,43,1,3,...,9,2020,1,5924411224504,4,4,100,15,1,11
4,0,59244112245,3,3,9163.0,2,1,43,1,3,...,9,2020,1,5924411224505,5,8,100,19,1,11

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,62344107254,3,3,1363.0,5,2,38,1,3,...,10,2021,1,6234410725401,1,8,75,15,2,16
1,0,62344107254,3,3,1319.0,5,2,38,1,3,...,10,2021,1,6234410725402,2,8,75,15,2,19
2,1,62344112710,2,3,8423.0,2,1,72,1,0,...,10,2021,1,6234411271001,1,1,30,9,5,7
3,0,62344112710,2,3,8423.0,2,1,72,1,0,...,10,2021,1,6234411271002,2,1,30,10,5,8
4,0,62344112710,2,3,8423.0,2,1,72,1,0,...,10,2021,1,6234411271003,3,1,30,15,5,9

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,HHBestInkG,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur
0,1,300000269880,1,1,NaN,NaN,2,81,1,0,...,1,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,300000882980,2,3,9481.0,3,2,65,1,0,...,6,2022,1,30000088298001,1,5,10,5,5,10
2,0,300000882980,2,3,9481.0,3,2,65,1,0,...,6,2022,1,30000088298002,2,5,10,15,5,11
3,0,300000882980,2,3,9481.0,3,2,65,1,0,...,6,2022,1,30000088298003,3,11,120,114,5,14
4,1,300000883980,3,3,9761.0,3,1,63,1,3,...,9,2022,1,30000088398001,1,1,430,45,7,7

In [12]:
# To check if the changes are done correctly, the new .csv files are located and opened.
# The paths below indicate the local paths of the datasets on the PC of the user. The user needs to replace the paths with the paths on their own PC.
# Locating the ODIN datasets and giving easy names
ODIN_2018_check_datatype = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\1.ODIN_2018_not_translated.csv'
ODIN_2019_check_datatype = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\1.ODIN_2019_not_translated.csv'
ODIN_2020_check_datatype = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\1.ODIN_2020_not_translated.csv'
ODIN_2021_check_datatype = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\1.ODIN_2021_not_translated.csv'
ODIN_2022_check_datatype = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\intermediate\1.ODIN_2022_not_translated.csv'

# Reading the chanted ODIN datasets which contain only the same columns. 
ODIN_2018_check_datatype_read = pd.read_csv(ODIN_2018_check_datatype, encoding='ISO-8859-1', sep=';')
ODIN_2019_check_datatype_read = pd.read_csv(ODIN_2019_check_datatype, encoding='ISO-8859-1', sep=';')
ODIN_2020_check_datatype_read = pd.read_csv(ODIN_2020_check_datatype, encoding='ISO-8859-1', sep=';')
ODIN_2021_check_datatype_read = pd.read_csv(ODIN_2021_check_datatype, encoding='ISO-8859-1', sep=';')
ODIN_2022_check_datatype_read = pd.read_csv(ODIN_2022_check_datatype, encoding='ISO-8859-1', sep=';')

# Check the datatypes of ODiN 2018
# Identify numerical columns
numerical_cols_ODIN2018 = ODIN_2018_check_datatype_read.select_dtypes(include=['int64', 'float64']).columns
# Identify categorical columns
categorical_cols_ODIN2018 = ODIN_2018_check_datatype_read.select_dtypes(include=['object', 'bool', 'category']).columns
# Print the output of the previous two lines
print('Numerical columns:', numerical_cols_ODIN2018)
print('Categorical columns:', categorical_cols_ODIN2018)

# Check the datatypes of ODiN 2019
# Identify numerical columns
numerical_cols_ODIN2019 = ODIN_2019_check_datatype_read.select_dtypes(include=['int64', 'float64']).columns
# Identify categorical columns
categorical_cols_ODIN2019 = ODIN_2019_check_datatype_read.select_dtypes(include=['object', 'bool', 'category']).columns
# Print the output of the previous two lines
print('Numerical columns:', numerical_cols_ODIN2019)
print('Categorical columns:', categorical_cols_ODIN2019)

# Check the datatypes of ODiN 2020
# Identify numerical columns
numerical_cols_ODIN2020 = ODIN_2020_check_datatype_read.select_dtypes(include=['int64', 'float64']).columns
# Identify categorical columns
categorical_cols_ODIN2020 = ODIN_2020_check_datatype_read.select_dtypes(include=['object', 'bool', 'category']).columns
# Print the output of the previous two lines
print('Numerical columns:', numerical_cols_ODIN2020)
print('Categorical columns:', categorical_cols_ODIN2020)

# Check the datatypes of ODiN 2021
# Identify numerical columns
numerical_cols_ODIN2021 = ODIN_2021_check_datatype_read.select_dtypes(include=['int64', 'float64']).columns
# Identify categorical columns
categorical_cols_ODIN2021 = ODIN_2021_check_datatype_read.select_dtypes(include=['object', 'bool', 'category']).columns
# Print the output of the previous two lines
print('Numerical columns:', numerical_cols_ODIN2021)
print('Categorical columns:', categorical_cols_ODIN2021)

# Check the datatypes of ODiN 2022
# Identify numerical columns
numerical_cols_ODIN2022 = ODIN_2022_check_datatype_read.select_dtypes(include=['int64', 'float64']).columns
# Identify categorical columns
categorical_cols_ODIN2022 = ODIN_2022_check_datatype_read.select_dtypes(include=['object', 'bool', 'category']).columns
# Print the output of the previous two lines
print('Numerical columns:', numerical_cols_ODIN2022)
print('Categorical columns:', categorical_cols_ODIN2022)

Numerical columns: Index(['OP', 'OPID', 'HHSam', 'HHPlOP', 'VertPC', 'VertProv', 'Geslacht',
       'Leeftijd', 'Herkomst', 'BetWerk', 'Opleiding', 'HHAuto', 'HHBestInkG',
       'Jaar', 'Verpl', 'VerplID', 'VerplNr', 'MotiefV', 'AfstR', 'RReisduur',
       'KRvm', 'RVertUur'],
      dtype='object')
Categorical columns: Index([], dtype='object')
Numerical columns: Index(['OP', 'OPID', 'HHSam', 'HHPlOP', 'VertPC', 'VertProv', 'Geslacht',
       'Leeftijd', 'Herkomst', 'BetWerk', 'Opleiding', 'HHAuto', 'HHBestInkG',
       'Jaar', 'Verpl', 'VerplID', 'VerplNr', 'MotiefV', 'AfstR', 'RReisduur',
       'KRvm', 'RVertUur'],
      dtype='object')
Categorical columns: Index([], dtype='object')
Numerical columns: Index(['OP', 'OPID', 'HHSam', 'HHPlOP', 'VertPC', 'VertProv', 'Geslacht',
       'Leeftijd', 'Herkomst', 'BetWerk', 'Opleiding', 'HHAuto', 'HHBestInkG',
       'Jaar', 'Verpl', 'VerplID', 'VerplNr', 'MotiefV', 'AfstR', 'RReisduur',
       'KRvm', 'RVertUur'],
      dtype='object')
Categorical columns: Index([], dtype='object')
Numerical columns: Index(['OP', 'OPID', 'HHSam', 'HHPlOP', 'VertPC', 'VertProv', 'Geslacht',
       'Leeftijd', 'Herkomst', 'BetWerk', 'Opleiding', 'HHAuto', 'HHBestInkG',
       'Jaar', 'Verpl', 'VerplID', 'VerplNr', 'MotiefV', 'AfstR', 'RReisduur',
       'KRvm', 'RVertUur'],
      dtype='object')
Categorical columns: Index([], dtype='object')
Numerical columns: Index(['OP', 'OPID', 'HHSam', 'HHPlOP', 'VertPC', 'VertProv', 'Geslacht',
       'Leeftijd', 'Herkomst', 'BetWerk', 'Opleiding', 'HHAuto', 'HHBestInkG',
       'Jaar', 'Verpl', 'VerplID', 'VerplNr', 'MotiefV', 'AfstR', 'RReisduur',
       'KRvm', 'RVertUur'],
      dtype='object')
Categorical columns: Index([], dtype='object')

In [13]:
# The output of the previous piece of code shows that not all variables have the correct data type.

# This piece of code puts the columns in the correct identification typology.
def convert_to_category(input_dataframe_to_change_category, cols_to_exclude):
    # Get a list of all columns
    all_cols = input_dataframe_to_change_category.columns.tolist()

    # Remove the columns you don't want to convert
    cols_to_convert = [col for col in all_cols if col not in cols_to_exclude]

    # Convert the remaining columns to the 'category' data type
    for col in cols_to_convert:
        input_dataframe_to_change_category[col] = input_dataframe_to_change_category[col].astype('category')
    
    return input_dataframe_to_change_category

# Define the columns to exclude
cols_to_exclude = ['OP', 'OPID', 'Leeftijd', 'VertPC', 'Jaar', 'VerplID', 'VerplNr', 'RVertUur', 'RReisduur', 'AfstR', 'HHBestInkG', 'HHAuto']

# Apply the function to each DataFrame
ODIN_2018_check_datatype_read_correct_category = convert_to_category(ODIN_2018_check_datatype_read, cols_to_exclude)
ODIN_2019_check_datatype_read_correct_category = convert_to_category(ODIN_2019_check_datatype_read, cols_to_exclude)
ODIN_2020_check_datatype_read_correct_category = convert_to_category(ODIN_2020_check_datatype_read, cols_to_exclude)
ODIN_2021_check_datatype_read_correct_category = convert_to_category(ODIN_2021_check_datatype_read, cols_to_exclude)
ODIN_2022_check_datatype_read_correct_category = convert_to_category(ODIN_2021_check_datatype_read, cols_to_exclude)

In [14]:
def check_data_types(dataframes_check_numerical_categorical, numerical_cols, categorical_cols):
    print("Numerical columns:")
    print(dataframes_check_numerical_categorical[numerical_cols].dtypes)
    print("\nCategorical columns:")
    print(dataframes_check_numerical_categorical[categorical_cols].dtypes)

# Define the numerical and categorical columns
numerical_cols = ['OP', 'OPID', 'Leeftijd', 'VertPC', 'Jaar', 'VerplID', 'VerplNr', 'RVertUur', 'RReisduur', 'AfstR', 'HHBestInkG']  
categorical_cols = list(set(ODIN_2018_check_datatype_read_correct_category.columns) - set(numerical_cols))  # all other columns categorical

# Check the data types for each DataFrame
check_data_types(ODIN_2018_check_datatype_read_correct_category, numerical_cols, categorical_cols)
check_data_types(ODIN_2019_check_datatype_read_correct_category, numerical_cols, categorical_cols)
check_data_types(ODIN_2020_check_datatype_read_correct_category, numerical_cols, categorical_cols)
check_data_types(ODIN_2021_check_datatype_read_correct_category, numerical_cols, categorical_cols)
check_data_types(ODIN_2022_check_datatype_read_correct_category, numerical_cols, categorical_cols)

Numerical columns:
OP              int64
OPID            int64
Leeftijd        int64
VertPC        float64
Jaar            int64
VerplID       float64
VerplNr       float64
RVertUur      float64
RReisduur     float64
AfstR         float64
HHBestInkG      int64
dtype: object

Categorical columns:
Verpl        category
KRvm         category
BetWerk      category
MotiefV      category
Opleiding    category
Geslacht     category
HHAuto          int64
HHPlOP       category
Herkomst     category
VertProv     category
HHSam        category
dtype: object
Numerical columns:
OP              int64
OPID            int64
Leeftijd        int64
VertPC        float64
Jaar            int64
VerplID       float64
VerplNr       float64
RVertUur      float64
RReisduur     float64
AfstR         float64
HHBestInkG      int64
dtype: object

Categorical columns:
Verpl        category
KRvm         category
BetWerk      category
MotiefV      category
Opleiding    category
Geslacht     category
HHAuto          int64
HHPlOP       category
Herkomst     category
VertProv     category
HHSam        category
dtype: object
Numerical columns:
OP              int64
OPID            int64
Leeftijd        int64
VertPC        float64
Jaar            int64
VerplID       float64
VerplNr       float64
RVertUur      float64
RReisduur     float64
AfstR         float64
HHBestInkG      int64
dtype: object

Categorical columns:
Verpl        category
KRvm         category
BetWerk      category
MotiefV      category
Opleiding    category
Geslacht     category
HHAuto          int64
HHPlOP       category
Herkomst     category
VertProv     category
HHSam        category
dtype: object
Numerical columns:
OP              int64
OPID            int64
Leeftijd        int64
VertPC        float64
Jaar            int64
VerplID       float64
VerplNr       float64
RVertUur      float64
RReisduur     float64
AfstR         float64
HHBestInkG      int64
dtype: object

Categorical columns:
Verpl        category
KRvm         category
BetWerk      category
MotiefV      category
Opleiding    category
Geslacht     category
HHAuto          int64
HHPlOP       category
Herkomst     category
VertProv     category
HHSam        category
dtype: object
Numerical columns:
OP              int64
OPID            int64
Leeftijd        int64
VertPC        float64
Jaar            int64
VerplID       float64
VerplNr       float64
RVertUur      float64
RReisduur     float64
AfstR         float64
HHBestInkG      int64
dtype: object

Categorical columns:
Verpl        category
KRvm         category
BetWerk      category
MotiefV      category
Opleiding    category
Geslacht     category
HHAuto          int64
HHPlOP       category
Herkomst     category
VertProv     category
HHSam        category
dtype: object

In [15]:
# This piece of code defines whether a trip is part of a trip sequence or not. 
# It creates a new column 'Part_of_sequence' which indicates whether a trip is part of a sequence or not based on whether the 'VerplNr' is greater than 1 or not and whether the 'NextVerplNr' is greater than 1 or not.
def sequence_indicator(df):
    # Shift the 'VerplNr' column down by one row
    df['NextVerplNr'] = df['VerplNr'].shift(1)

    # Create a new column 'IsSequence' based on the conditions
    df['Part_of_sequence'] = ((df['VerplNr'] > 1) | ((df['VerplNr'] == 1) & (df['NextVerplNr'] > 1))).astype(int)

    # Drop the 'NextVerplNr' column as it's no longer needed
    df = df.drop('NextVerplNr', axis=1)

    return df

# Apply the function to each dataframe
ODIN_2018_pos = sequence_indicator(ODIN_2018_check_datatype_read_correct_category)
ODIN_2019_pos = sequence_indicator(ODIN_2019_check_datatype_read_correct_category)
ODIN_2020_pos = sequence_indicator(ODIN_2020_check_datatype_read_correct_category)
ODIN_2021_pos = sequence_indicator(ODIN_2021_check_datatype_read_correct_category)
ODIN_2022_pos = sequence_indicator(ODIN_2022_check_datatype_read_correct_category)

display(ODIN_2018_pos.head(5))
display(ODIN_2019_pos.head(5))
display(ODIN_2020_pos.head(5))
display(ODIN_2021_pos.head(5))
display(ODIN_2022_pos.head(5))

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur,Part_of_sequence
0,1,55834100093,1,1,9901.0,1.0,1,42,1,3,...,2018,1.0,5.583410e+12,1.0,7.0,60.0,15.0,1.0,10.0,0
1,0,55834100093,1,1,9933.0,1.0,1,42,1,3,...,2018,1.0,5.583410e+12,2.0,7.0,60.0,10.0,1.0,11.0,1
2,0,55834100093,1,1,9901.0,1.0,1,42,1,3,...,2018,1.0,5.583410e+12,3.0,8.0,10.0,5.0,5.0,15.0,1
3,0,55834100093,1,1,9902.0,1.0,1,42,1,3,...,2018,1.0,5.583410e+12,4.0,8.0,10.0,5.0,5.0,18.0,1
4,1,55834100279,2,3,9902.0,1.0,1,42,1,0,...,2018,1.0,5.583410e+12,1.0,7.0,30.0,10.0,1.0,9.0,1

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur,Part_of_sequence
0,1,56144136518,3,3,8442.0,2.0,1,33,1,3,...,2019,1.0,5.614414e+12,1.0,8.0,25.0,10.0,1.0,8.0,0
1,0,56144136518,3,3,8443.0,2.0,1,33,1,3,...,2019,1.0,5.614414e+12,2.0,8.0,25.0,10.0,1.0,8.0,1
2,1,56144148453,3,4,9203.0,2.0,2,12,1,5,...,2019,1.0,5.614415e+12,1.0,10.0,30.0,13.0,5.0,10.0,1
3,0,56144148453,3,4,9203.0,2.0,2,12,1,5,...,2019,1.0,5.614415e+12,2.0,10.0,30.0,13.0,5.0,11.0,1
4,0,56144148453,3,4,9203.0,2.0,2,12,1,5,...,2019,1.0,5.614415e+12,3.0,7.0,30.0,15.0,5.0,13.0,1

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur,Part_of_sequence
0,1,59244112245,3,3,9161.0,2.0,1,43,1,3,...,2020,1.0,5.924411e+12,1.0,13.0,40.0,3.0,7.0,9.0,0
1,0,59244112245,3,3,9161.0,2.0,1,43,1,3,...,2020,1.0,5.924411e+12,2.0,13.0,40.0,3.0,7.0,10.0,1
2,0,59244112245,3,3,9161.0,2.0,1,43,1,3,...,2020,1.0,5.924411e+12,3.0,13.0,40.0,3.0,7.0,10.0,1
3,0,59244112245,3,3,9161.0,2.0,1,43,1,3,...,2020,1.0,5.924411e+12,4.0,4.0,100.0,15.0,1.0,11.0,1
4,0,59244112245,3,3,9163.0,2.0,1,43,1,3,...,2020,1.0,5.924411e+12,5.0,8.0,100.0,19.0,1.0,11.0,1

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur,Part_of_sequence
0,1,62344107254,3,3,1363.0,5.0,2,38,1,3,...,2021,1.0,6.234411e+12,1.0,8.0,75.0,15.0,2.0,16.0,0
1,0,62344107254,3,3,1319.0,5.0,2,38,1,3,...,2021,1.0,6.234411e+12,2.0,8.0,75.0,15.0,2.0,19.0,1
2,1,62344112710,2,3,8423.0,2.0,1,72,1,0,...,2021,1.0,6.234411e+12,1.0,1.0,30.0,9.0,5.0,7.0,1
3,0,62344112710,2,3,8423.0,2.0,1,72,1,0,...,2021,1.0,6.234411e+12,2.0,1.0,30.0,10.0,5.0,8.0,1
4,0,62344112710,2,3,8423.0,2.0,1,72,1,0,...,2021,1.0,6.234411e+12,3.0,1.0,30.0,15.0,5.0,9.0,1

,OP,OPID,HHSam,HHPlOP,VertPC,VertProv,Geslacht,Leeftijd,Herkomst,BetWerk,...,Jaar,Verpl,VerplID,VerplNr,MotiefV,AfstR,RReisduur,KRvm,RVertUur,Part_of_sequence
0,1,62344107254,3,3,1363.0,5.0,2,38,1,3,...,2021,1.0,6.234411e+12,1.0,8.0,75.0,15.0,2.0,16.0,0
1,0,62344107254,3,3,1319.0,5.0,2,38,1,3,...,2021,1.0,6.234411e+12,2.0,8.0,75.0,15.0,2.0,19.0,1
2,1,62344112710,2,3,8423.0,2.0,1,72,1,0,...,2021,1.0,6.234411e+12,1.0,1.0,30.0,9.0,5.0,7.0,1
3,0,62344112710,2,3,8423.0,2.0,1,72,1,0,...,2021,1.0,6.234411e+12,2.0,1.0,30.0,10.0,5.0,8.0,1
4,0,62344112710,2,3,8423.0,2.0,1,72,1,0,...,2021,1.0,6.234411e+12,3.0,1.0,30.0,15.0,5.0,9.0,1

In [16]:
# After obtaining insights into the data typologies and cleaning the datasets, the unneccessary columns can be dropped. 
columns_kept = ['HHSam', 'VertPC', 'Geslacht', 'Leeftijd', 'Herkomst', 'Opleiding', 'HHBestInkG', 'HHAuto', 'MotiefV', 'AfstR', 'KRvm', 'RVertUur', 'Main_motivation', 'Part_of_sequence']

# Get the columns to drop
columns_to_drop = ODIN_2018_pos.columns.difference(columns_kept)
columns_to_drop = ODIN_2019_pos.columns.difference(columns_kept)
columns_to_drop = ODIN_2020_pos.columns.difference(columns_kept)
columns_to_drop = ODIN_2021_pos.columns.difference(columns_kept)
columns_to_drop = ODIN_2022_pos.columns.difference(columns_kept)

# Drop the unnecessary columns
ODIN_2018_kept_columns = ODIN_2018_pos.drop(columns=columns_to_drop)
ODIN_2019_kept_columns = ODIN_2019_pos.drop(columns=columns_to_drop)
ODIN_2020_kept_columns = ODIN_2020_pos.drop(columns=columns_to_drop)
ODIN_2021_kept_columns = ODIN_2021_pos.drop(columns=columns_to_drop)
ODIN_2022_kept_columns = ODIN_2022_pos.drop(columns=columns_to_drop)

# Check if the adapted columns are correct. 
display(ODIN_2018_kept_columns.head(5))
display(ODIN_2019_kept_columns.head(5))
display(ODIN_2020_kept_columns.head(5))
display(ODIN_2021_kept_columns.head(5))
display(ODIN_2022_kept_columns.head(5))

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence
0,1,9901.0,1,42,1,3,1,8,7.0,60.0,1.0,10.0,0
1,1,9933.0,1,42,1,3,1,8,7.0,60.0,1.0,11.0,1
2,1,9901.0,1,42,1,3,1,8,8.0,10.0,5.0,15.0,1
3,1,9902.0,1,42,1,3,1,8,8.0,10.0,5.0,18.0,1
4,2,9902.0,1,42,1,3,1,3,7.0,30.0,1.0,9.0,1

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence
0,3,8442.0,1,33,1,3,1,3,8.0,25.0,1.0,8.0,0
1,3,8443.0,1,33,1,3,1,3,8.0,25.0,1.0,8.0,1
2,3,9203.0,2,12,1,7,1,5,10.0,30.0,5.0,10.0,1
3,3,9203.0,2,12,1,7,1,5,10.0,30.0,5.0,11.0,1
4,3,9203.0,2,12,1,7,1,5,7.0,30.0,5.0,13.0,1

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence
0,3,9161.0,1,43,1,3,2,9,13.0,40.0,7.0,9.0,0
1,3,9161.0,1,43,1,3,2,9,13.0,40.0,7.0,10.0,1
2,3,9161.0,1,43,1,3,2,9,13.0,40.0,7.0,10.0,1
3,3,9161.0,1,43,1,3,2,9,4.0,100.0,1.0,11.0,1
4,3,9163.0,1,43,1,3,2,9,8.0,100.0,1.0,11.0,1

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence
0,3,1363.0,2,38,1,4,2,10,8.0,75.0,2.0,16.0,0
1,3,1319.0,2,38,1,4,2,10,8.0,75.0,2.0,19.0,1
2,2,8423.0,1,72,1,3,1,10,1.0,30.0,5.0,7.0,1
3,2,8423.0,1,72,1,3,1,10,1.0,30.0,5.0,8.0,1
4,2,8423.0,1,72,1,3,1,10,1.0,30.0,5.0,9.0,1

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence
0,3,1363.0,2,38,1,4,2,10,8.0,75.0,2.0,16.0,0
1,3,1319.0,2,38,1,4,2,10,8.0,75.0,2.0,19.0,1
2,2,8423.0,1,72,1,3,1,10,1.0,30.0,5.0,7.0,1
3,2,8423.0,1,72,1,3,1,10,1.0,30.0,5.0,8.0,1
4,2,8423.0,1,72,1,3,1,10,1.0,30.0,5.0,9.0,1

In [17]:
# recode the column concerning the gender of the person performing the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Recode the 'Geslacht' column in each dataframe
for df in dataframes:
    df['Geslacht'] = df['Geslacht'].replace(2, 0)

C:\Users\20182306\AppData\Local\Temp\ipykernel_2380\4287788261.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['Geslacht'] = df['Geslacht'].replace(2, 0)

In [18]:
# recode the column concerning the household composition of the person performing the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {1: 1, 8: 1, 9: 1, 2: 2, 3: 3, 4: 3, 5: 3, 6: 4, 7: 4}

# Recode the 'HHSam' column in each dataframe
for df in dataframes:
    df['HHSam'] = df['HHSam'].replace(new_values)

C:\Users\20182306\AppData\Local\Temp\ipykernel_2380\1166715215.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['HHSam'] = df['HHSam'].replace(new_values)

In [19]:
# recode the column concerning the ethnicity of the person performing the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {0: 1, 1: 2, 2: 2, 3: 3, 4: 1}

# Recode the 'HHSam' column in each dataframe
for df in dataframes:
    df['Herkomst'] = df['Herkomst'].replace(new_values)

C:\Users\20182306\AppData\Local\Temp\ipykernel_2380\3018985742.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['Herkomst'] = df['Herkomst'].replace(new_values)

In [20]:
# recode the column concerning the educational level of the person performing the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {0: 1, 1: 1, 2: 2, 3: 3, 4: 4, 5: 1, 6: 1, 7: 1}

# Recode the 'HHSam' column in each dataframe
for df in dataframes:
    df['Opleiding'] = df['Opleiding'].replace(new_values)

C:\Users\20182306\AppData\Local\Temp\ipykernel_2380\2273807334.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['Opleiding'] = df['Opleiding'].replace(new_values)

In [21]:
# recode the column concerning the motivation of the person performing the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {1:1, 2:1, 3:2, 4:3, 5:4, 6:5, 7:4, 8:5, 9:5, 10:5, 11:5, 12:5, 13:4, np.nan: 4}

# Recode the 'MotiefV' column in each dataframe
for df in dataframes:
    # First, replace known values
    df['MotiefV'] = df['MotiefV'].replace(new_values)
    # Then, replace any remaining missing values with 4
    df['MotiefV'] = df['MotiefV'].fillna(4)

C:\Users\20182306\AppData\Local\Temp\ipykernel_2380\2262990617.py:12: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['MotiefV'] = df['MotiefV'].replace(new_values)

In [22]:
# recode the column concerning the income groups of the person performing the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:10, 11:10}

# Recode the 'Opleiding' column in each dataframe
for df in dataframes:
    df['HHBestInkG'] = df['HHBestInkG'].replace(new_values)

In [23]:
# recode the column concerning the postal code where the trip departs. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {0: np.nan, '0000': np.nan}

# Recode the 'VertPC' column in each dataframe
for df in dataframes:
    df['VertPC'] = df['VertPC'].replace(new_values)

In [24]:
# recode the column concerning the distance of the trip. This is needed because the data is very skewed and needs to be normalized.
# List of dataframes to normalize
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Normalize the 'AfstR' column in each dataframe
for df in dataframes:
    df['AfstR'] = (df['AfstR'] - df['AfstR'].min()) / (df['AfstR'].max() - df['AfstR'].min())

In [25]:
# recode the column concerning the mode of transport of the trip. 

# List of dataframes to recode
dataframes = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Define a dictionary for the new values
new_values = {1:1, 2:2, 3:3, 4:3, 5:4, 6:5, 7: np.nan}

# Recode the 'VertPC' column in each dataframe
for df in dataframes:
    df['KRvm'] = df['KRvm'].replace(new_values)

C:\Users\20182306\AppData\Local\Temp\ipykernel_2380\1514876506.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['KRvm'] = df['KRvm'].replace(new_values)

In [26]:
# Also, the main motivation of trip sequences by the same OPID needs to be determined.
# The main motivation in a trip sequence is very determining in the mode choice of the OP and therefore the NSMI.

# Define the order of motivations
motivation_order = [1, 3, 4, 5, 2]

# List of dataframes
dfs = [ODIN_2018_kept_columns, ODIN_2019_kept_columns, ODIN_2020_kept_columns, ODIN_2021_kept_columns, ODIN_2022_kept_columns]

# Function to add 'MainMotivation' column to a dataframe
# This code will create a new column 'Main_motivation' in each dataframe, which will be the first 'MotiefV' value in each sequence of 1's in the 'Part_of_sequence' column according to the order specified in motivation_order.
def add_main_motivation(df):
    # Create a helper column 'Sequence' that increments every time a new sequence starts
    df['Sequence'] = ((df['Part_of_sequence'] == 1) & (df['Part_of_sequence'].shift() != 1)).cumsum()

    if 'MotiefV' in df.columns:
        # Convert 'MotiefV' to a categorical variable with the specified order
        df['MotiefV'] = pd.Categorical(df['MotiefV'], categories=motivation_order, ordered=True)

        # Group by 'Sequence' and get the first 'MotiefV' in each group
        df['Main_motivation'] = df.groupby('Sequence')['MotiefV'].transform('first')
    else:
        print("Column 'MotiefV' not found in dataframe.")

    # Drop the 'Sequence' column as it's no longer needed
    df = df.drop('Sequence', axis=1)

    return df

# Apply the function to each dataframe
ODIN_2018_mm, ODIN_2019_mm, ODIN_2020_mm, ODIN_2021_mm, ODIN_2022_mm = map(add_main_motivation, dfs)
display(ODIN_2018_mm.head(5))
display(ODIN_2019_mm.head(5))
display(ODIN_2020_mm.head(5))
display(ODIN_2021_mm.head(5))
display(ODIN_2022_mm.head(5))

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence,Main_motivation
0,1,9901.0,1,42,2,3,1,8,4,0.010000,1.0,10.0,0,4
1,1,9933.0,1,42,2,3,1,8,4,0.010000,1.0,11.0,1,4
2,1,9901.0,1,42,2,3,1,8,5,0.001667,4.0,15.0,1,4
3,1,9902.0,1,42,2,3,1,8,5,0.001667,4.0,18.0,1,4
4,2,9902.0,1,42,2,3,1,3,4,0.005000,1.0,9.0,1,4

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence,Main_motivation
0,3,8442.0,1,33,2,3,1,3,5,0.005,1.0,8.0,0,5
1,3,8443.0,1,33,2,3,1,3,5,0.005,1.0,8.0,1,5
2,3,9203.0,0,12,2,1,1,5,5,0.006,4.0,10.0,1,5
3,3,9203.0,0,12,2,1,1,5,5,0.006,4.0,11.0,1,5
4,3,9203.0,0,12,2,1,1,5,4,0.006,4.0,13.0,1,5

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence,Main_motivation
0,3,9161.0,1,43,2,3,2,9,4,0.011189,NaN,9.0,0,4
1,3,9161.0,1,43,2,3,2,9,4,0.011189,NaN,10.0,1,4
2,3,9161.0,1,43,2,3,2,9,4,0.011189,NaN,10.0,1,4
3,3,9161.0,1,43,2,3,2,9,3,0.027972,1.0,11.0,1,4
4,3,9163.0,1,43,2,3,2,9,5,0.027972,1.0,11.0,1,4

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence,Main_motivation
0,3,1363.0,0,38,2,4,2,10,5,0.016667,2.0,16.0,0,5
1,3,1319.0,0,38,2,4,2,10,5,0.016667,2.0,19.0,1,5
2,2,8423.0,1,72,2,3,1,10,1,0.006667,4.0,7.0,1,5
3,2,8423.0,1,72,2,3,1,10,1,0.006667,4.0,8.0,1,5
4,2,8423.0,1,72,2,3,1,10,1,0.006667,4.0,9.0,1,5

,HHSam,VertPC,Geslacht,Leeftijd,Herkomst,Opleiding,HHAuto,HHBestInkG,MotiefV,AfstR,KRvm,RVertUur,Part_of_sequence,Main_motivation
0,3,1363.0,0,38,2,4,2,10,5,0.016667,2.0,16.0,0,5
1,3,1319.0,0,38,2,4,2,10,5,0.016667,2.0,19.0,1,5
2,2,8423.0,1,72,2,3,1,10,1,0.006667,4.0,7.0,1,5
3,2,8423.0,1,72,2,3,1,10,1,0.006667,4.0,8.0,1,5
4,2,8423.0,1,72,2,3,1,10,1,0.006667,4.0,9.0,1,5

In [27]:
# ---------------------------------------------- PART 2 ---------------------------------------------- #	
# This part of the script will translate the column names from Dutch to English. 
# Moreover, because the random forest cannot handle nominal variables, the nominal variables will be transformed into dummy variables.

In [28]:
# Define the new column names by translating the Dutch names to the English names
new_column_names = {
    'HHSam': 'Household_composition', 
    'Geslacht': 'Gender_male',
    'Leeftijd': 'Age',
    'Herkomst': 'Ethnicity',
    'Opleiding': 'Educationlevel', 
    'HHBestInkG': 'Disposable_income_household',
    'VerplNr': 'Trip_sequence_number',  
    'MotiefV': 'Motivation', 
    'VertPC': 'Starting_postalcode', 
    'AfstR': 'Trip_distance_normalized', 
    'RReisduur': 'Trip_traveltime', 
    'KRvm': 'Trip_transportation_type', 
    'RVertUur': 'Trip_starthour',
    'HHAuto': 'Number_of_cars_in_HH'
}

# Function to rename specific columns
def rename_specific_columns(df, new_column_names):
    for old_name, new_names in new_column_names.items():
        if isinstance(new_names, list):
            # Get the indices of the columns with the old name
            indices = [i for i, col in enumerate(df.columns) if col == old_name]
            for i, new_name in zip(indices, new_names):
                df.columns.values[i] = new_name
        else:
            df = df.rename(columns={old_name: new_names})
    return df

# Apply the function to each DataFrame
ODIN_2018_trcl, ODIN_2019_trcl, ODIN_2020_trcl, ODIN_2021_trcl, ODIN_2022_trcl = [rename_specific_columns(df, new_column_names) for df in [ODIN_2018_mm, ODIN_2019_mm, ODIN_2020_mm, ODIN_2021_mm, ODIN_2022_mm]]

# Check if the adapted columns are correct. 
display(ODIN_2018_trcl.columns)
display(ODIN_2019_trcl.columns)
display(ODIN_2020_trcl.columns)
display(ODIN_2021_trcl.columns)
display(ODIN_2022_trcl.columns)

Index(['Household_composition', 'Starting_postalcode', 'Gender_male', 'Age',
       'Ethnicity', 'Educationlevel', 'Number_of_cars_in_HH',
       'Disposable_income_household', 'Motivation', 'Trip_distance_normalized',
       'Trip_transportation_type', 'Trip_starthour', 'Part_of_sequence',
       'Main_motivation'],
      dtype='object')

Index(['Household_composition', 'Starting_postalcode', 'Gender_male', 'Age',
       'Ethnicity', 'Educationlevel', 'Number_of_cars_in_HH',
       'Disposable_income_household', 'Motivation', 'Trip_distance_normalized',
       'Trip_transportation_type', 'Trip_starthour', 'Part_of_sequence',
       'Main_motivation'],
      dtype='object')

Index(['Household_composition', 'Starting_postalcode', 'Gender_male', 'Age',
       'Ethnicity', 'Educationlevel', 'Number_of_cars_in_HH',
       'Disposable_income_household', 'Motivation', 'Trip_distance_normalized',
       'Trip_transportation_type', 'Trip_starthour', 'Part_of_sequence',
       'Main_motivation'],
      dtype='object')

Index(['Household_composition', 'Starting_postalcode', 'Gender_male', 'Age',
       'Ethnicity', 'Educationlevel', 'Number_of_cars_in_HH',
       'Disposable_income_household', 'Motivation', 'Trip_distance_normalized',
       'Trip_transportation_type', 'Trip_starthour', 'Part_of_sequence',
       'Main_motivation'],
      dtype='object')

Index(['Household_composition', 'Starting_postalcode', 'Gender_male', 'Age',
       'Ethnicity', 'Educationlevel', 'Number_of_cars_in_HH',
       'Disposable_income_household', 'Motivation', 'Trip_distance_normalized',
       'Trip_transportation_type', 'Trip_starthour', 'Part_of_sequence',
       'Main_motivation'],
      dtype='object')

In [29]:
# There are also nominal variables that are not possible to be included in a random forest model. These nominal variables need to be converted to dummy variables. This code does that. 

def encode_columns(df, columns_to_encode):
    # Instantiate the OneHotEncoder
    encoder = OneHotEncoder(sparse=False)

    # Fit and transform the data
    data_encoded = encoder.fit_transform(df[columns_to_encode])

    # Convert the result back to a DataFrame
    data_encoded_df = pd.DataFrame(data_encoded, columns=encoder.get_feature_names_out(columns_to_encode))

    # Concatenate the original DataFrame with the new DataFrame of encoded columns
    df_encoded = pd.concat([df.drop(columns_to_encode, axis=1), data_encoded_df], axis=1)

    return df_encoded

# List of columns to encode
columns_to_encode = ['Household_composition', 'Ethnicity', 'Educationlevel', 'Motivation', 'Main_motivation']

# List of dataframes to encode
dataframes = [ODIN_2018_trcl, ODIN_2019_trcl, ODIN_2020_trcl, ODIN_2021_trcl, ODIN_2022_trcl]

# Apply the function to each dataframe
ODIN_2018_finalstep_encoded, ODIN_2019_finalstep_encoded, ODIN_2020_finalstep_encoded, ODIN_2021_finalstep_encoded, ODIN_2022_finalstep_encoded = [encode_columns(df, columns_to_encode) for df in dataframes]

c:\Users\20182306\AppData\Local\anaconda3\envs\Jochem_RF\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\20182306\AppData\Local\anaconda3\envs\Jochem_RF\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\20182306\AppData\Local\anaconda3\envs\Jochem_RF\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\20182306\AppData\Local\anaconda3\envs\Jochem_RF\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\20182306\AppData\Local\anaconda3\envs\Jochem_RF\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [30]:
# To check if the concervation of the dataframes is done correctly, the dataframes are displayed.
# Set the option to display all columns
pd.set_option('display.max_columns', None)

# Display the dataframes to check if the 'Main_motivation' column is added and to see if the dummy variable creation is properly done.
display(ODIN_2018_finalstep_encoded, ODIN_2019_finalstep_encoded, ODIN_2020_finalstep_encoded, ODIN_2021_finalstep_encoded, ODIN_2022_finalstep_encoded)

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,Household_composition_1,Household_composition_2,Household_composition_3,Household_composition_4,Ethnicity_1,Ethnicity_2,Ethnicity_3,Educationlevel_1,Educationlevel_2,Educationlevel_3,Educationlevel_4,Motivation_1,Motivation_2,Motivation_3,Motivation_4,Motivation_5,Main_motivation_1,Main_motivation_2,Main_motivation_3,Main_motivation_4,Main_motivation_5
0,9901.0,1,42,1,8,0.010000,1.0,10.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,9933.0,1,42,1,8,0.010000,1.0,11.0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9901.0,1,42,1,8,0.001667,4.0,15.0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,9902.0,1,42,1,8,0.001667,4.0,18.0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,9902.0,1,42,1,3,0.005000,1.0,9.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195233,3012.0,0,68,1,8,0.011667,3.0,21.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
195234,3012.0,0,68,1,8,0.001667,2.0,21.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
195235,2651.0,0,15,1,6,0.036667,2.0,13.0,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
195236,2993.0,0,12,4,9,0.016667,2.0,11.0,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
195237,3012.0,0,12,4,9,0.016667,2.0,16.0,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,Household_composition_1,Household_composition_2,Household_composition_3,Household_composition_4,Ethnicity_2,Ethnicity_3,Educationlevel_1,Educationlevel_2,Educationlevel_3,Educationlevel_4,Motivation_1,Motivation_2,Motivation_3,Motivation_4,Motivation_5,Main_motivation_1,Main_motivation_2,Main_motivation_3,Main_motivation_4,Main_motivation_5
0,8442.0,1,33,1,3,0.0050,1.0,8.0,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,8443.0,1,33,1,3,0.0050,1.0,8.0,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,9203.0,0,12,1,5,0.0060,4.0,10.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,9203.0,0,12,1,5,0.0060,4.0,11.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,9203.0,0,12,1,5,0.0060,4.0,13.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179086,3831.0,1,6,2,9,0.0024,5.0,13.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
179087,NaN,1,67,1,6,NaN,NaN,NaN,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
179088,3524.0,1,25,0,1,0.0190,4.0,8.0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
179089,3542.0,1,25,0,1,0.0190,4.0,18.0,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
179090,3524.0,1,25,0,1,0.0130,5.0,19.0,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,Household_composition_1,Household_composition_2,Household_composition_3,Household_composition_4,Ethnicity_1,Ethnicity_2,Ethnicity_3,Educationlevel_1,Educationlevel_2,Educationlevel_3,Educationlevel_4,Motivation_1,Motivation_2,Motivation_3,Motivation_4,Motivation_5,Main_motivation_1,Main_motivation_2,Main_motivation_3,Main_motivation_4,Main_motivation_5
0,9161.0,1,43,2,9,0.011189,NaN,9.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,9161.0,1,43,2,9,0.011189,NaN,10.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9161.0,1,43,2,9,0.011189,NaN,10.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,9161.0,1,43,2,9,0.027972,1.0,11.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,9163.0,1,43,2,9,0.027972,1.0,11.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176724,3573.0,0,43,1,9,0.008392,4.0,8.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
176725,3515.0,0,43,1,9,0.008392,4.0,17.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
176726,3573.0,0,43,1,9,0.000839,5.0,17.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
176727,NaN,0,25,0,1,NaN,NaN,NaN,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
176728,3451.0,0,79,1,2,0.027972,4.0,13.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,Household_composition_1,Household_composition_2,Household_composition_3,Household_composition_4,Ethnicity_1,Ethnicity_2,Ethnicity_3,Educationlevel_1,Educationlevel_2,Educationlevel_3,Educationlevel_4,Motivation_1,Motivation_2,Motivation_3,Motivation_4,Motivation_5,Main_motivation_1,Main_motivation_2,Main_motivation_3,Main_motivation_4,Main_motivation_5
0,1363.0,0,38,2,10,0.016667,2.0,16.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1319.0,0,38,2,10,0.016667,2.0,19.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,8423.0,1,72,1,10,0.006667,4.0,7.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,8423.0,1,72,1,10,0.006667,4.0,8.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,8423.0,1,72,1,10,0.006667,4.0,9.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196763,1611.0,1,25,2,10,0.026667,1.0,13.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
196764,1607.0,1,25,2,10,0.008889,1.0,14.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
196765,1606.0,1,25,2,10,0.008889,1.0,18.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
196766,1607.0,1,25,2,10,0.013333,1.0,19.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
196767,1613.0,1,25,2,10,0.013333,1.0,20.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,Household_composition_1,Household_composition_2,Household_composition_3,Household_composition_4,Ethnicity_1,Ethnicity_2,Ethnicity_3,Educationlevel_1,Educationlevel_2,Educationlevel_3,Educationlevel_4,Motivation_1,Motivation_2,Motivation_3,Motivation_4,Motivation_5,Main_motivation_1,Main_motivation_2,Main_motivation_3,Main_motivation_4,Main_motivation_5
0,1363.0,0,38,2,10,0.016667,2.0,16.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1319.0,0,38,2,10,0.016667,2.0,19.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,8423.0,1,72,1,10,0.006667,4.0,7.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,8423.0,1,72,1,10,0.006667,4.0,8.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,8423.0,1,72,1,10,0.006667,4.0,9.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196763,1611.0,1,25,2,10,0.026667,1.0,13.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
196764,1607.0,1,25,2,10,0.008889,1.0,14.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
196765,1606.0,1,25,2,10,0.008889,1.0,18.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
196766,1607.0,1,25,2,10,0.013333,1.0,19.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
196767,1613.0,1,25,2,10,0.013333,1.0,20.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [31]:
# Give the recoded variables an understandable name. 
# Define the new column names.
new_column_names = {
    'Household_composition_1': 'HHC_oneperson',
    'Household_composition_2': 'HHC_couple', 
    'Household_composition_3': 'HHC_couple_with_children',  
    'Household_composition_4': 'HHC_oneperson_with_children',
    'Ethnicity_1': 'Ethn_dutch',
    'Ethnicity_2': 'Ethn_western',
    'Ethnicity_3': 'Ethn_nonwestern',
    'Educationlevel_1': 'EL_primary',
    'Educationlevel_2': 'EL_secondary_lower',
    'Educationlevel_3': 'EL_secondary_higher',
    'Educationlevel_4': 'EL_higherprofessional_university',
    'Motivation_1': 'Moti_work',
    'Motivation_2': 'Moti_profession',
    'Motivation_3': 'Moti_pickupdropoff_person',
    'Motivation_4': 'Moti_pickupdropoff_goods',	
    'Motivation_5': 'Moti_sparetime',
    'Main_motivation_1': 'Main_moti_work',
    'Main_motivation_2': 'Main_moti_profession',
    'Main_motivation_3': 'Main_moti_pickupdropoff_person',
    'Main_motivation_4': 'Main_moti_pickupdropoff_goods',
    'Main_motivation_5': 'Main_moti_sparetime',
  
}

# Function to rename specific columns
def rename_specific_columns(df, new_column_names):
    for old_name, new_names in new_column_names.items():
        if isinstance(new_names, list):
            # Get the indices of the columns with the old name
            indices = [i for i, col in enumerate(df.columns) if col == old_name]
            for i, new_name in zip(indices, new_names):
                df.columns.values[i] = new_name
        else:
            df = df.rename(columns={old_name: new_names})
    return df

# Apply the function to each DataFrame
ODIN_2018_trcl, ODIN_2019_trcl, ODIN_2020_trcl, ODIN_2021_trcl, ODIN_2022_trcl = [rename_specific_columns(df, new_column_names) for df in [ODIN_2018_finalstep_encoded, ODIN_2019_finalstep_encoded, ODIN_2020_finalstep_encoded, ODIN_2021_finalstep_encoded, ODIN_2022_finalstep_encoded]]

# Check if the adapted columns are correct. 
display(ODIN_2018_trcl.head(5))
display(ODIN_2019_trcl.head(5))
display(ODIN_2020_trcl.head(5))
display(ODIN_2021_trcl.head(5))
display(ODIN_2022_trcl.head(5))

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,HHC_oneperson,HHC_couple,HHC_couple_with_children,HHC_oneperson_with_children,Ethn_dutch,Ethn_western,Ethn_nonwestern,EL_primary,EL_secondary_lower,EL_secondary_higher,EL_higherprofessional_university,Moti_work,Moti_profession,Moti_pickupdropoff_person,Moti_pickupdropoff_goods,Moti_sparetime,Main_moti_work,Main_moti_profession,Main_moti_pickupdropoff_person,Main_moti_pickupdropoff_goods,Main_moti_sparetime
0,9901.0,1,42,1,8,0.010000,1.0,10.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,9933.0,1,42,1,8,0.010000,1.0,11.0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9901.0,1,42,1,8,0.001667,4.0,15.0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,9902.0,1,42,1,8,0.001667,4.0,18.0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,9902.0,1,42,1,3,0.005000,1.0,9.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,HHC_oneperson,HHC_couple,HHC_couple_with_children,HHC_oneperson_with_children,Ethn_western,Ethn_nonwestern,EL_primary,EL_secondary_lower,EL_secondary_higher,EL_higherprofessional_university,Moti_work,Moti_profession,Moti_pickupdropoff_person,Moti_pickupdropoff_goods,Moti_sparetime,Main_moti_work,Main_moti_profession,Main_moti_pickupdropoff_person,Main_moti_pickupdropoff_goods,Main_moti_sparetime
0,8442.0,1,33,1,3,0.005,1.0,8.0,0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,8443.0,1,33,1,3,0.005,1.0,8.0,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,9203.0,0,12,1,5,0.006,4.0,10.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,9203.0,0,12,1,5,0.006,4.0,11.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,9203.0,0,12,1,5,0.006,4.0,13.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,HHC_oneperson,HHC_couple,HHC_couple_with_children,HHC_oneperson_with_children,Ethn_dutch,Ethn_western,Ethn_nonwestern,EL_primary,EL_secondary_lower,EL_secondary_higher,EL_higherprofessional_university,Moti_work,Moti_profession,Moti_pickupdropoff_person,Moti_pickupdropoff_goods,Moti_sparetime,Main_moti_work,Main_moti_profession,Main_moti_pickupdropoff_person,Main_moti_pickupdropoff_goods,Main_moti_sparetime
0,9161.0,1,43,2,9,0.011189,NaN,9.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,9161.0,1,43,2,9,0.011189,NaN,10.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9161.0,1,43,2,9,0.011189,NaN,10.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,9161.0,1,43,2,9,0.027972,1.0,11.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,9163.0,1,43,2,9,0.027972,1.0,11.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,HHC_oneperson,HHC_couple,HHC_couple_with_children,HHC_oneperson_with_children,Ethn_dutch,Ethn_western,Ethn_nonwestern,EL_primary,EL_secondary_lower,EL_secondary_higher,EL_higherprofessional_university,Moti_work,Moti_profession,Moti_pickupdropoff_person,Moti_pickupdropoff_goods,Moti_sparetime,Main_moti_work,Main_moti_profession,Main_moti_pickupdropoff_person,Main_moti_pickupdropoff_goods,Main_moti_sparetime
0,1363.0,0,38,2,10,0.016667,2.0,16.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1319.0,0,38,2,10,0.016667,2.0,19.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,8423.0,1,72,1,10,0.006667,4.0,7.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,8423.0,1,72,1,10,0.006667,4.0,8.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,8423.0,1,72,1,10,0.006667,4.0,9.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,Starting_postalcode,Gender_male,Age,Number_of_cars_in_HH,Disposable_income_household,Trip_distance_normalized,Trip_transportation_type,Trip_starthour,Part_of_sequence,HHC_oneperson,HHC_couple,HHC_couple_with_children,HHC_oneperson_with_children,Ethn_dutch,Ethn_western,Ethn_nonwestern,EL_primary,EL_secondary_lower,EL_secondary_higher,EL_higherprofessional_university,Moti_work,Moti_profession,Moti_pickupdropoff_person,Moti_pickupdropoff_goods,Moti_sparetime,Main_moti_work,Main_moti_profession,Main_moti_pickupdropoff_person,Main_moti_pickupdropoff_goods,Main_moti_sparetime
0,1363.0,0,38,2,10,0.016667,2.0,16.0,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1319.0,0,38,2,10,0.016667,2.0,19.0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,8423.0,1,72,1,10,0.006667,4.0,7.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,8423.0,1,72,1,10,0.006667,4.0,8.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,8423.0,1,72,1,10,0.006667,4.0,9.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [32]:
# ---------------------------------------------- PART 3 ---------------------------------------------- #	
# The following part of the code deals with missing values in the columns that are important to the NSMI.

In [33]:
# Remove the rows with missing values in the 'Trip_transportation_type' column. This will be the dependent variable in the model so imputation is not desired. 
# Removing these rows solves the missing values in all other columns except for the 'Starting_postalcode' column. This column is not relevant for the NSMI creation itself but is important for generalization for neighborhoods. 
# Therefore the rows with missing values in the 'Starting_postalcode' column are kept in the dataset.
ODIN_2018_trcl = ODIN_2018_trcl.dropna(subset=['Trip_transportation_type'])
ODIN_2019_trcl = ODIN_2019_trcl.dropna(subset=['Trip_transportation_type'])
ODIN_2020_trcl = ODIN_2020_trcl.dropna(subset=['Trip_transportation_type'])
ODIN_2021_trcl = ODIN_2021_trcl.dropna(subset=['Trip_transportation_type'])
ODIN_2022_trcl = ODIN_2022_trcl.dropna(subset=['Trip_transportation_type'])

In [34]:
# This part of the code is able to remove variables with a high correlation
# It is also possible to remove variable due to reasoning: some variable indicate somewhat the same thing. 
# For this moment, none of the variables are deleted. 

# columns_to_drop = ['EL_primary', 'Ethn_nonwestern']

# ODIN_2018_trcl = ODIN_2018_trcl.drop(columns=columns_to_drop)
# ODIN_2019_trcl = ODIN_2019_trcl.drop(columns=columns_to_drop)
# ODIN_2020_trcl = ODIN_2020_trcl.drop(columns=columns_to_drop)
# ODIN_2021_trcl = ODIN_2021_trcl.drop(columns=columns_to_drop)
# ODIN_2022_trcl = ODIN_2022_trcl.drop(columns=columns_to_drop)

In [35]:
# The cleaning and translation process is finished. The datasets can be saved as .csv files.
ODIN_2018_trcl.to_csv("output/1_ODIN_2018.csv", index=False, encoding='ISO-8859-1', sep=';')
ODIN_2019_trcl.to_csv("output/1_ODIN_2019.csv", index=False, encoding='ISO-8859-1', sep=';')
ODIN_2020_trcl.to_csv("output/1_ODIN_2020.csv", index=False, encoding='ISO-8859-1', sep=';')
ODIN_2021_trcl.to_csv("output/1_ODIN_2021.csv", index=False, encoding='ISO-8859-1', sep=';')
ODIN_2022_trcl.to_csv("output/1_ODIN_2022.csv", index=False, encoding='ISO-8859-1', sep=';')

In [36]:
# ---------------------------------------------- PART 4 ---------------------------------------------- #	
# The following part of the code generates the descriptive statistics report for the ODIN datasets.

In [37]:
# Now that the desired columns are obtained for all the years, the descriptive statistics of the datasets are checked.
# This piece of code checks the descriptive statistics of the datasets via the ydata_profiling package.
from ydata_profiling import ProfileReport # needs to be called here to prevent error

# Defining the location of the latest ODIN 2018 dataset which can be used for the descriptive statistics. 
ODIN_2018_discriptive_statistics = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\output\1_ODIN_2018.csv'

# Reading the ODIN 2018 dataset and generating the descriptive statistic reports. 
ODIN_2018_DS = pd.read_csv(ODIN_2018_discriptive_statistics, encoding='ISO-8859-1', sep=';')        
profile_ODIN_2018 = ProfileReport(ODIN_2018_DS, title="Descripitve Statistics of ODiN 2018", missing_diagrams={"heatmap": False})
profile_ODIN_2018.to_file("output/1_DS_ODIN_2018.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [38]:
# Now that the desired columns are obtained for all the years, the descriptive statistics of the datasets are checked.
# This piece of code checks the descriptive statistics of the datasets via the ydata_profiling package.
from ydata_profiling import ProfileReport # needs to be called here to prevent error

# Defining the location of the latest ODIN 2018 dataset which can be used for the descriptive statistics. 
ODIN_2019_discriptive_statistics = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\output\1_ODIN_2019.csv'

# Reading the ODIN 2019 dataset and generating the descriptive statistic reports. 
ODIN_2019_DS = pd.read_csv(ODIN_2019_discriptive_statistics, encoding='ISO-8859-1', sep=';')
profile_ODIN_2019 = ProfileReport(ODIN_2019_DS, title="Descripitve Statistics of ODiN 2019", missing_diagrams={"heatmap": False})
profile_ODIN_2019.to_file("output/1_DS_ODIN_2019.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [39]:
# Now that the desired columns are obtained for all the years, the descriptive statistics of the datasets are checked.
# This piece of code checks the descriptive statistics of the datasets via the ydata_profiling package.
from ydata_profiling import ProfileReport # needs to be called here to prevent error

# Defining the location of the latest ODIN 2018 dataset which can be used for the descriptive statistics. 
ODIN_2020_discriptive_statistics = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\output\1_ODIN_2020.csv'

# Reading the ODIN 2020 dataset and generating the descriptive statistic reports. 
ODIN_2020_DS = pd.read_csv(ODIN_2020_discriptive_statistics, encoding='ISO-8859-1', sep=';')
profile_ODIN_2020 = ProfileReport(ODIN_2020_DS, title="Descripitve Statistics of ODiN 2020", missing_diagrams={"heatmap": False})
profile_ODIN_2020.to_file("output/1_DS_ODIN_2020.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [40]:
# Now that the desired columns are obtained for all the years, the descriptive statistics of the datasets are checked.
# This piece of code checks the descriptive statistics of the datasets via the ydata_profiling package.
from ydata_profiling import ProfileReport # needs to be called here to prevent error

# Defining the location of the latest ODIN 2021 dataset which can be used for the descriptive statistics. 
ODIN_2021_discriptive_statistics = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\output\1_ODIN_2021.csv'

# Reading the ODIN 2021 dataset and generating the descriptive statistic reports. 
ODIN_2021_DS = pd.read_csv(ODIN_2021_discriptive_statistics, encoding='ISO-8859-1', sep=';')
profile_ODIN_2021 = ProfileReport(ODIN_2021_DS, title="Descripitve Statistics of ODiN 2021", missing_diagrams={"heatmap": False})
profile_ODIN_2021.to_file("output/1_DS_ODIN_2021.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [41]:

# Now that the desired columns are obtained for all the years, the descriptive statistics of the datasets are checked.
# This piece of code checks the descriptive statistics of the datasets via the ydata_profiling package.
from ydata_profiling import ProfileReport # needs to be called here to prevent error

# Defining the location of the latest ODIN 2022 dataset which can be used for the descriptive statistics. 
ODIN_2022_discriptive_statistics = r'C:\Users\20182306\OneDrive - TU Eindhoven\Documents\We-Boost\Repositories\Mobility-Index\output\1_ODIN_2022.csv'

# Reading the ODIN 2022 dataset and generating the descriptive statistic reports.
ODIN_2022_DS = pd.read_csv(ODIN_2022_discriptive_statistics, encoding='ISO-8859-1', sep=';')
profile_ODIN_2022 = ProfileReport(ODIN_2022_DS, title="Descripitve Statistics of ODiN 2022", missing_diagrams={"heatmap": False})
profile_ODIN_2022.to_file("output/1_DS_ODIN_2022.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]